<br><div class="card bg-light mb-3 mx-auto" style="max-width: 30rem;">
 <div class="card-header bg-success text-white">
        New Class
  </div>
<div class="card-body">

<%= render 'form', subject: @subject %>

<%= link_to 'Back', subjects_path %>

</div>